import 'package:test/test.dart';

import '../solutions/index.dart';
import 'utils/test_utils.dart';

void main() {
  group('Day{{dayString}}', () {
    final day = Day{{dayString}}();

    setUpAllForDay(day);

    group('solvePart1', () {

    });

    group('solvePart2', () {
      
    });
  });
}
