import 'package:test/test.dart';

import '../solutions/index.dart';

void main() {
  group('Day{{dayString}}', () {
    final day = Day{{dayString}}();

    group('solvePart1', () {

    });

    group('solvePart2', () {
      
    });
  });
}
